<?xml version="1.0"?>
<launch>

    <arg name="enable/publish_image" default="true"/>
    <arg name="enable/publish_markers" default="true"/>
    <arg name="enable/tf" default="true"/>
    <arg name="markers/prefix" default="id_"/>
    <arg name="markers/dictionary" default="0"/>
    <arg name="markers/lengths" default="[50]"/>
    <arg name="camera/tf_name" default="camera_link"/>
    <arg name="camera/matrix" default="[476.7030836014194, 0.0, 400.5, 0.0, 476.7030836014194, 400.5, 0.0, 0.0, 1.0]" />
    <arg name="camera/distortion" default="[0.0, 0.0, 0.0, 0.0, 0.0]" />
    <arg name="markers_param_file" default="$(find marker_localization)/config/markers_config.yaml" />

    <node pkg="marker_localization" type="free_markers_localization" name="free_markers_localization" output="screen">
        <param name="enable/publish_image" value="$(arg enable/publish_image)"/>
        <param name="enable/publish_markers" value="$(arg enable/publish_markers)"/>
        <param name="enable/tf" value="$(arg enable/tf)"/>
        <param name="camera/tf_name" value="$(arg camera/tf_name)"/>
        <param name="markers/prefix" value="$(arg markers/prefix)"/>
        <param name="markers/dictionary" value="$(arg markers/dictionary)"/>
        
        <rosparam param="markers/lengths" subst_value="true">$(arg markers/lengths)</rosparam>
        <rosparam param="camera/matrix" subst_value="true">$(arg camera/matrix)</rosparam>
        <rosparam param="camera/distortion" subst_value="true">$(arg camera/distortion)</rosparam>

        <rosparam command="load" file="$(arg markers_param_file)"></rosparam>

        <remap from="/camera/image_raw" to="/arm/camera1/image_raw"/>
        <remap from="detected_markers/image" to="detected_markers/image"/>
        <remap from="detected_markers/pose" to="/detected_markers/output"/>
    </node>

    <node pkg="tf2_ros" type="static_transform_publisher" name="artag0_" args="0 0 0 0 0 0 1 id_4 box"/>
</launch>